.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  align-items: stretch;
}

@media (min-width: 640px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .airQualityWrapper {
    grid-column: span 3;
  }
}
